h1,
h2,
ul,
p {
  margin: initial;
  padding: initial;
}

li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
  color: inherit;
}
body {
  background: fixed center url(images/background.gif);
  background-size: cover;
  color: #999;
}

.wrapper {
  border-radius: 4px;
  overflow: hidden;
  background-color: #eee;
  width: 800px;
  margin: 40px auto;
  text-align: center;
}

.header {
  background-image: url(images/cover03.png);
  color: white;
  padding: 40px 0 60px;
  background-size: cover;
  background-position: center;
}

.profile {
  border-radius: 200px / 100px;
  width: 140px;
  margin: 50px 0 10px;
  border: 5px solid;
}

.header h1 {
  font-size: 80px;
}

.header p {
  width: 210px;
  margin: 12px auto;
  border-top: 4px solid #eee;
  padding-top: 8px;
  font-size: 12px;
  letter-spacing: 0.3em;
  font-weight: bold;
}

.section {
  text-align: left;
}

.contents {
  background: white;
  margin: 30px;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: right 40px center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.information {
  background-image: url(images/icon-information.png);
}
.skills {
  background-image: url(images/icon-skills.png);
}

.contents h2 {
  color: lightcoral;
  margin-bottom: 20px;
}

.list li {
  border-left: 5px solid #eaeaea;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.list li:hover {
  border-color: pink;
  color: pink;
}

.footer {
  color: #ddd;
  background-color: #fff;
  text-align: center;
  padding: 20px 0;
}

.icon {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 0.4em 1em;
  border-radius: 40px;
  transition: all 0.4s;
}

.icon:hover {
  border-color: black;
  color: black;
}
